<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Projeto/app/stylesheet/style.css">
  <script defer src="/Projeto/app/javascript/script.js"></script>
  <title>Oficina Car</title>
</head>
<body>
  <header>
    <div class="menu">
      <h1 class="logo">Oficina Car</h1>
      <nav>
        <ul>
          <li>serviços</li>
          <li>agendamentos</li>
          <li>Contatos</li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="main-content">
      <h1>Serviços Automotivos</h1>
      <h2>Faça seu orçamento</h2>
    </div>
  </main>
</body>
</html>