body {
  font-family: Arial, sans-serif;
  background-color: #566795;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.formulario {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 21px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 380px;
  max-width: 100%;
  box-sizing: border-box;
}

.formulario h1 {
  color: #000000ab;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  color: #545454;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group input[type="radio"] {
  margin-right: 8px;
  font-size: 12px;
  padding: 3px;
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-group label {
  margin-right: 15px;
  padding: 4px;
  font-size: 14px;
}

.form-group input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #0056b3;
}

.descricao-textarea {
  width: 100%;
  max-width: 100%;
  resize: vertical;
  max-height: 200px; 
  box-sizing: border-box;
}