<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receita - Bolo de Banana</title>
    <link rel="stylesheet" href="/aula 3/app/stylesheet/style.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><img class="return" src="/aula 3/app/imagem/left.png" alt="retornar" width="25px" height="25px"></li>
            <li><a href="index.html">HOME</a></li>
            <li><a href="#">Receitas</a></li>
            <li><a href="#">Contatos</a></li>
        </ul>
    </div>
    <div class="container">
        <h1 class="title">Bolo de Banana</h1>
        <h2 class="subtitle">Ingredientes</h2>
        <table class="ingredients-table">
            <thead>
                <tr>
                    <th>Ingrediente</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bananas maduras amassadas</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Farinha de trigo</td>
                    <td>2 xícaras</td>
                </tr>
                <tr>
                    <td>Açúcar</td>
                    <td>1 xícara</td>
                </tr>
                <tr>
                    <td>Óleo</td>
                    <td>1/2 xícara</td>
                </tr>
                <tr>
                    <td>Leite</td>
                    <td>1/2 xícara</td>
                </tr>
                <tr>
                    <td>Ovos</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Fermento em pó</td>
                    <td>1 colher de sopa</td>
                </tr>
                <tr>
                    <td>Canela em pó (opcional)</td>
                    <td>1 colher de chá</td>
                </tr>
            </tbody>
        </table>
        <h2 class="subtitle">Instruções</h2>
        <ol class="instructions-list">
            <li>Preaqueça o forno a 180°C.</li>
            <li>Em uma tigela, misture a farinha e o açúcar.</li>
            <li>Adicione o óleo, o leite e os ovos e misture bem.</li>
            <li>Acrescente as bananas amassadas e a canela (se estiver usando) e misture novamente.</li>
            <li>Adicione o fermento e misture delicadamente.</li>
            <li>Despeje a massa em uma forma untada e enfarinhada.</li>
            <li>Asse por cerca de 35-40 minutos ou até que um palito inserido no centro saia limpo.</li>
            <li>Deixe esfriar antes de servir.</li>
        </ol>
      </div>
    <footer>
        <p>&copy; 2024 Página de Receitas. Todos os direitos reservados.</p>
    </footer>
</body>
</html>